.gallery-grid-item {
	position: relative;
}

.gallery-grid-wrapper .gallery-grid-item:nth-child(2)::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.slug-bay-rum .gallery-grid-wrapper .gallery-grid-item:nth-child(2)::after {
	background: no-repeat center/100% url(https://images.squarespace-cdn.com/content/v1/6321be0d5fc517764a1c9809/4e842202-5404-4bdf-a036-89b886797bee/thirds.png);
}

#gridThumbs .grid-item .grid-image img,
#page .gallery-grid-item img {
	background-size: cover;
}

/* b_copper.png | b_tin.png | b_crema.png */
/*
#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_copper.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_copper.png);
}
*/

#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_tin.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_tin.png);
}

/*
#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_crema.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_crema.png);
}
*/

@media screen and (max-width: 767px) {
	.pagination-faux {
		margin-right: -6vw;
		margin-left: -6vw;
	}
}

.header-light #siteWrapper #header[data-header-style="dynamic"].header {
	background-color: var(--siteBackgroundColor) !important;
}

.header-light #siteWrapper #header[data-header-style="dynamic"].header {
	background-color: transparent !important;
}

.header-light .header .header-announcement-bar-wrapper {
	background-color: hsla(var(--white-hsl), .5);
}

.header-light :not(.header--menu-open) .header-title-text a {
	color: var(--white-hsl);
}

.header-light :not(.header--menu-open) .header-nav-wrapper a {
	color: var(--white-hsl);
}

.header-light :not(.header--menu-open) .header-nav-wrapper .header-nav-item--active a {
	color: var(--white-hsl);
}

.header-light :not(.header--menu-open) .header-actions {
	color: var(--white-hsl);
}

.header-light :not(.header--menu-open) .burger-inner .top-bun,
.header-light :not(.header--menu-open) .burger-inner .patty,
.header-light :not(.header--menu-open) .burger-inner .bottom-bun {
	background-color: hsla(var(--black-hsl), .5);
}

.header-light section:first-child .section-background-overlay {
	opacity: 0 !important;
}

.header-light .ProductItem-details-excerpt p span {
	color: var(--white-hsl) !important;
}

.path-store #siteWrapper .content-wrapper {
	background-color: hsla(var(--white-hsl), 1);
}

.path-store .header-light section:first-child .section-background {
	background-color: rgb(224, 224, 224);
}

.path-trade #siteWrapper .content-wrapper .sqs-block-content h2 {
	background-color: hsla(var(--white-hsl), .5);
	color: white;
	padding: 0 .5rem;
}

.path-trade #siteWrapper footer .content div {
	background-color: var(--siteBackgroundColor) !important;
}
