.gallery-grid-item {
	position: relative;
}

.gallery-grid-wrapper .gallery-grid-item:nth-child(2)::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.slug-bay-rum .gallery-grid-wrapper .gallery-grid-item:nth-child(2)::after {
	background: no-repeat center/100% url(https://images.squarespace-cdn.com/content/v1/6321be0d5fc517764a1c9809/4e842202-5404-4bdf-a036-89b886797bee/thirds.png);
}

#gridThumbs .grid-item .grid-image img,
#page .gallery-grid-item img {
	background-size: cover;
}

/* b_copper.png | b_tin.png | b_crema.png */
/*
#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_copper.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_copper.png);
}
*/

#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_tin.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_tin.png);
}

/*
#gridThumbs .grid-item .grid-image img {
	background-image: url(https://sterlingcompendium.github.io/images/b_crema.png);
}

#page .gallery-grid-item img {
	background-image: url(https://sterlingcompendium.github.io/images/b_crema.png);
}
*/

@media screen and (max-width: 767px) {
	.pagination-faux {
		margin-right: -6vw;
		margin-left: -6vw;
	}
}
