/*
font-family: 'Krona One', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Michroma', sans-serif;
font-family: 'Nixie One', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Stint Ultra Expanded', cursive;
*/

h2:not(.OT_subtitle) {
  font-family: 'Michroma', sans-serif;
  font-weight: 100;
}
